doctype html
html(lang="en")
    head
        include head
        title Fitness Buddy | Exercise Details
    body
        button#back-favourites(onclick="document.location='/exercises'") Back
        button#search-exercises-top(onclick="document.location='/search'") More exercises
        include navbar
        #container-margin-nav.container-mg
            h2.page-title= name
            br
            img.logo-image(src= image alt="fitness-buddy-logo")
            br
            br
            p= description
            br
            - videoLink = video
                unless videoLink == null
                    iframe(width="90%" height="315" src= videoLink frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(type="text/javascript" src="/js/exerciseDetails.js")
    include footer