doctype html
html(lang="en")
    head
        include head
        title ExeDetails
    body
        include navbar
        #container-margin-nav.container-mg
            h2.page-title Favourite Exercises
            br
            <!-- FOR LOOP AND MIXIN -->
            h4 Dumbbell Curls
            br
            img.logo-image(src="img/dumbbell.png" alt="fitness-buddy-logo")
            br
            br
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas quaerat maxime quia, libero molestiae nobis eos exercitationem consectetur error esse neque ipsa repellat veniam labore dolorum a nemo iusto repudiandae.
            br
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(type="text/javascript" src="js/exercises-details.js")
    include footer