doctype html
html(lang="en")
    head
        include head
        title Fitness Buddy | Exercise Details
    body
        include navbar
        #container-margin-nav.container-mg
            h2.page-title Favourite Exercises
            br
            h4= name
            br
            img.logo-image(src= image alt="fitness-buddy-logo")
            br
            br
            p= description
            br
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(type="text/javascript" src="/js/exerciseDetails.js")
    include footer