doctype html
html(lang="en")
    head
        include head
        title Fitness Buddy | Favourite Exercises
    body
        include navbar
        #welcome-message
            p Welcome back, #{ forename }
        #container-margin-nav
            h2.page-title Your Favourite Exercises
            br
            ul
            //- Display each exercise in the favourites
            each item in favourites
                - let exerciseLink = "/exercises/" + item.id
                li(data-id= item.id)
                    a(href= exerciseLink)
                        h4.exercise-link= item.name
        button#search-exercises(onclick="document.location='/search'") Search for exercises
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(type="text/javascript" src="/js/faveExercise.js")
    include footer