doctype html
html(lang="en")
    head
        title Login
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="stylesheets/css/reset.css")
        link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet")
        link(href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" rel="stylesheet" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous")
        link(href="stylesheets/css/style.css" rel="stylesheet")
    body
        main.center-container
            .title-logo
                h1 Fitness buddy
                img.logo-image(src="img/dumbbell.png" alt="fitness-buddy-logo")
            .form-container
                h4 Sign in with Facebook
                .break-line
                .email-signin-message Or use your email account
                form.login
                    .form-group
                        input.form-control#email-input(type="email" placeholder="Enter your email...")
                    .form-group
                        input.form-control#password-input(type="password" placeholder="Enter your password...")
                    button.primary(type="submit") Login
                br
                p Or sign up
                    a(href="/") here
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(type="text/javascript" src="js/login.js")