doctype html
html(lang="en")
    head
        include head
        title Fitness Buddy | Login
    body
        h1.title Fitness buddy
        img.logo-image(src="/img/dumbbell.png" alt="fitness-buddy-logo")
        #container-margin
            form.login#login-form
                h2.page-title Login
                input#email-input(type="email" placeholder="Enter your email")
                input#password-input(type="password" placeholder="Enter your password")
                button(type="submit") Sign In
        br
        p#sign-up Or signup 
            a(href="/signup") here
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(type="text/javascript" src="/js/login.js")