doctype html
html(lang="en")
    head
        include head
        title Fitness Buddy | Privacy Policy
    body
        #privacy-policy-text
            h1.title Fitness Buddy's Privacy Policy
            h3 Topics
            ul
                li What data do we collect?
                li How do we collect your data?
                li How will we use your data?
                li How do we store your data?
                li Marketing
                li What are your data protection rights?
                li What are cookies?
                li How do we use cookies?
                li What types of cookies do we use?
                li How to manage your cookies
                li Privacy policies of other websites
                li Changes to our privacy policy
                li How to contact us
                li How to contact the appropriate authorities
            br
            h3 What data do we collect?
            p Fitness Buddy collects the following data:
            ul
                li Personal identification information (Name and email address)
            br
            h3 How do we collect your data?
            p You directly provide Fitness Buddy with most of the data we collect. We collect data and process data when you:
            ul
                li Register online.
                li Use or view our website via your browser’s cookies.
            br
            h3 How will we use your data?
            p Fitness Buddy collects your data so that we can:
                li Save your favorite exercises and maintain logins.
            br
            h3 How do we store your data?
            p Fitness Buddy securely stores your data in a secure database, passwords are encrypted for security locally on your machine before being sent to the server.
            p Fitness Buddy will keep your login details until you ask us to delete them. 
            br
            h3 What are your data protection rights?
            p Fitness Buddy would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:
            p The right to access – You have the right to request Fitness Buddy for copies of your personal data. We may charge you a small fee for this service.
            p The right to rectification – You have the right to request that Fitness Buddy correct any information you believe is inaccurate. You also have the right to request Fitness Buddy to complete the information you believe is incomplete.
            p The right to erasure – You have the right to request that Fitness Buddy erase your personal data, under certain conditions.
            p The right to restrict processing – You have the right to request that Fitness Buddy restrict the processing of your personal data, under certain conditions.
            p The right to object to processing – You have the right to object to Fitness Buddy’s processing of your personal data, under certain conditions.
            p The right to data portability – You have the right to request that Fitness Buddy transfer the data that we have collected to another organization, or directly to you, under certain conditions.
            p If you make a request, we have one month to respond to you. If you would like to exercise any of these rights please contact us at fitnessbuddy658@gmail.com
            br
            h3 Cookies
            p Cookies are text files placed on your computer to collect standard Internet log information and visitor behavior information. When you visit our websites, we may collect information from you automatically through cookies or similar technology
            p For further information, visit allaboutcookies.org.
            br
            h3 How do we use cookies?
            p Fitness Buddy uses cookies in a range of ways to improve your experience on our website, including:
            ul
                li Keeping you signed in
                li Understanding how you use our website
            br
            h3 What types of cookies do we use?
            p There are several different types of cookies, however, our website uses:
            ul  
                li Functionality – Fitness Buddy uses these cookies so that we recognize you on our website and remember your previously selected preferences. These could include what language you prefer and location you are in. A mix of first-party and third-party cookies are used.
            br
            h3 How to manage cookies
            p You can set your browser not to accept cookies, and the above website tells you how to remove cookies from your browser. However, in a few cases, some of our website features may not function as a result.
            br
            h3 Privacy policies of other websites
            p The Fitness Buddy website contains links to other websites. Our privacy policy applies only to our website, so if you click on a link to another website, you should read their privacy policy.
            br
            h3 Changes to our privacy policy
            p Fitness Buddy keeps its privacy policy under regular review and places any updates on this web page. This privacy policy was last updated on 9 January 2019.
            br
            h3 How to contact us
            p If you have any questions about Fitness Buddy’s privacy policy, the data we hold on you, or you would like to exercise one of your data protection rights, please do not hesitate to contact us.
            p Email us at: fitnessbuddy658@gmail.com





