doctype html
html(lang="en")
    head
        include head
        title Results
    body
        include navbar
        #container-margin-nav
            h2.page-title Results
            br
            ul
            //- Display a new 'exercise row' div for each exercise in the search results
            each item in results
                li.res-list
                    h3= item.name
                    h3
                        i.far.fa-star
        br
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(type="text/javascript" src="js/results.js")
    include footer