doctype html
html(lang="en")
    head
        title Results
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="stylesheets/css/reset.css")
        link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet")
        link(href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" rel="stylesheet" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous")
        link(href="stylesheets/css/style.css" rel="stylesheet")
    body
        header.navbar
            img.nav-logo-image(src="img/dumbbell.png" alt="fitness-buddy-logo")
            h2 FITNESS BUDDY
        main.center-container
            .form-container
                .page-title
                    h4 Results
                //- Display a new 'exercise row' div for each exercise in the search results
                each item in results
                    .exercise_row
                        .exercise_name
                            h5= item.name
                        .star-icon
                            i.fas.fa-star.fa-2x.center
                br
                br
        script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(type="text/javascript" src="js/login.js")