doctype html
html(lang="en")
    head
        include head
        title Fitness Buddy | Search Results
    body
        include navbar
        #container-margin-nav
            button#favourites-button(onclick="document.location='/exercises'") Favourites
            button#search-button(onclick="document.location='/search'") Search
            h2.page-title Search results
            br
            ul
            //- Display a new 'exercise row' div for each exercise in the search results
            each item in results
                - let exerciseLink = "/exercises/" + item.id
                li.res-list(data-id= item.id)
                    a.exercise-link(href= exerciseLink style="width:90%")
                        h4= item.name
                    h3
                        - favouriteBool = item.favourite
                            if favouriteBool === true
                                i.fa.fa-star
                            else
                                i.far.fa-star
        br
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(type="text/javascript" src="/js/results.js")
    include footer