.pageTitle {
  font-size: 1.5em;
  color: #6cad2e;
  margin-top: 0;
}
.anchorStyle {
  font-size: 1.1em;
  color: white;
  text-decoration: none;
}
.center-div {
  background: #66666666;
  border-radius: 5px;
}
.absolute-wide {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  max-width: 100%;
  background-color: #66666666;
}
@media only screen and (min-width: 960px)  {
  .absolute-wide {
    justify-content: center;
    font-size: 15px;
  }
}
body {
  text-align: -webkit-center;
  background-color: #444;
  color: white;
  font-family: 'Roboto', sans-serif;
  background-image: url(../../img/texture.svg);
  background-position: center;
  background-repeat: none;
  height: 100vh;
}
h1 {
  font-size: 1.7em;
}
h2 {
  font-size: 1.7em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.3em;
}
h5 {
  font-size: 1.1em;
}
h1,
h2 {
  margin-top: 0.85em;
  margin-bottom: 0.85em;
}
h3,
h4 {
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}
h5,
h6,
p {
  margin-top: 0.55em;
  margin-bottom: 0.55em;
}
.navbar {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  max-width: 100%;
  background-color: #66666666;
  top: 0;
}
@media only screen and (min-width: 960px)  {
  .navbar {
    justify-content: center;
    font-size: 15px;
  }
}
.nav-logo-image {
  width: 6rem;
  margin: 1vw 2vw;
}
.header {
  color: white;
}
input {
  margin-bottom: 10px;
}
#login-form,
#signup-form {
  margin-top: 30%;
  margin: 0 auto;
}
.logo-image {
  width: 50%;
}
#container-margin {
  margin-top: 5%;
  width: 60%;
  padding: 5%;
}
#container-margin-nav {
  background: #66666666;
  border-radius: 5px;
  margin-top: 35%;
  padding: 10%;
}
.container-mg {
  margin-bottom: 5%;
}
.title {
  text-shadow: 3px 3px 5px #222;
  font-family: 'Poppins', sans-serif;
}
@media only screen and (min-width: 960px)  {
  .title {
    font-size: 3em;
  }
}
@media only screen and (min-width: 720px) and (max-width: 959px), only screen and (min-width: 960px)  {
  #container-margin {
    background: #66666666;
    border-radius: 5px;
    box-shadow: 0px 0 20px 7px #6cad2e;
  }
}
#container-margin-nav {
  box-shadow: 0px 0 20px 7px #6cad2e;
}
input {
  background-color: white;
  color: #000000;
}
button {
  margin: 5px 0;
  border-radius: 10px;
  padding: 2.5px 15px;
  background-color: #6cad2e;
}
a:hover {
  text-decoration: none;
}
.fa-star:hover,
.exercise-link:hover,
#footer-log-out:hover {
  cursor: pointer;
}
.exercise-link {
  transition: transform 0.2s;
}
.exercise-link:hover {
  transform: scale(1.1);
}
#sign-up {
  font-size: 1.1em;
}
.fa.fa-star,
.far.fa-star:hover,
#log-in a,
#privacy-policy,
#sign-up a {
  color: #6cad2e;
}
.fa.fa-star:hover,
#log-in a:hover {
  color: white;
}
#footer-log-out:hover {
  text-decoration: underline;
}
a {
  font-size: 1.1em;
  color: white;
  text-decoration: none;
}
.page-title {
  font-size: 1.5em;
  color: #6cad2e;
  margin-top: 0;
}
li {
  display: flex;
  justify-content: center;
}
.res-list {
  display: flex;
  justify-content: space-between;
}
#privacy-policy:hover,
#sign-up a:hover {
  text-decoration: underline;
}
.privacy-label {
  display: flex;
  justify-content: center;
  margin: 15px 0;
  font-size: 1.1em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.privacy-label input {
  margin: 4.5px 12.5px 3px 0;
  width: 20px;
  height: 20px;
}
.privacy-label p {
  margin: 0;
}
.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 6%;
  max-width: 100%;
  background-color: #66666666;
  font-size: 0.8em;
}
#welcome-message {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  max-width: 100%;
  background-color: #66666666;
  top: 120px;
}
@media only screen and (min-width: 960px)  {
  #welcome-message {
    justify-content: center;
    font-size: 15px;
  }
}
@media only screen and (min-width: 960px)  {
  #welcome-message {
    top: 175px;
    font-size: 125%;
  }
}
#favourites-button,
#search-button {
  font-size: 1.3em;
  position: absolute;
  top: 120px;
  background-color: #a0a0a0;
}
@media only screen and (min-width: 960px)  {
  #favourites-button,
  #search-button {
    top: 180px;
    font-size: 125%;
  }
}
#favourites-button {
  left: 40px;
}
@media only screen and (min-width: 960px)  {
  #favourites-button {
    left: 75px;
  }
}
#search-button {
  right: 40px;
}
@media only screen and (min-width: 960px)  {
  #search-button {
    right: 75px;
  }
}
#remove-from-favourites,
#add-to-favourites,
#search-button-bottom {
  font-size: 1.3em;
  margin-top: 40px;
}
#remove-from-favourites {
  background-color: #bd2d2d;
}
#favourites-button:hover,
#search-button:hover {
  background-color: #6cad2e;
}
#remove-from-favourites:hover,
#add-to-favourites:hover,
#search-button-bottom:hover {
  background-color: #222;
}
#alert-user {
  font-weight: bold;
  color: #bd2d2d;
}
.display-none {
  display: none;
}
