.inputStyle {
  background-color: white;
  color: #000000;
}
.navbarLogoSize {
  width: 25%;
  height: 25%;
}
@media only screen and (min-width: 960px)  {
  .navbarLogoSize {
    width: 10%;
    height: 10%;
  }
}
.nav-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  max-width: 100%;
  background-color: #666;
}
@media only screen and (min-width: 960px)  {
  .nav-bar {
    justify-content: center;
    font-size: 15px;
  }
}
.footer-mixin {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 5%;
  max-width: 100%;
  background-color: #666;
  font-size: 0.8em;
}
.pageTitle {
  font-size: 1.5em;
  color: #6cad2e;
}
.anchorStyle {
  font-size: 1.1em;
  color: white;
  text-decoration: none;
}
.center-div {
  background: #666;
  border-radius: 20px;
  padding: 10%;
}
h1 {
  font-size: 1.7em;
}
h2 {
  font-size: 1.7em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.3em;
}
h5 {
  font-size: 1.1em;
}
h1,
h2 {
  margin-top: 0.85em;
  margin-bottom: 0.85em;
}
h3,
h4 {
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}
h5,
h6,
p {
  margin-top: 0.55em;
  margin-bottom: 0.55em;
}
.header {
  color: white;
}
.break-line {
  background-color: #6cad2e;
  height: 1px;
  width: 50%;
}
body {
  text-align: -webkit-center;
  background-color: #444;
  color: white;
  font-family: 'Roboto', sans-serif;
  background-image: url(../../img/texture.svg);
  background-position: center;
  background-repeat: none;
  height: 100vh;
}
#login-form,
#signup-form {
  margin-top: 30%;
  margin: 0 auto;
}
.logo-image {
  width: 50%;
}
#container-margin {
  background: #666;
  border-radius: 20px;
  padding: 10%;
  margin-top: 5%;
}
#container-margin-nav {
  background: #666;
  border-radius: 20px;
  padding: 10%;
  margin-top: 35%;
}
.container-mg {
  margin-bottom: 5%;
}
.title {
  text-shadow: 3px 3px 5px #222;
  font-family: 'Poppins', sans-serif;
}
@media only screen and (min-width: 960px)  {
  .title {
    font-size: 3em;
  }
}
#container-margin,
#container-margin-nav {
  box-shadow: 0px 0 20px 7px #222;
}
#email-input,
#password-input,
#forename-input,
#surname-input,
#exercise-title-input,
#muscle-group-input,
#equipment-input {
  background-color: white;
  color: #000000;
}
button {
  margin: 5px 0;
  border-radius: 10px;
  padding: 2.5px 15px;
  background-color: #6cad2e;
}
.fa-star:hover {
  color: #6cad2e;
  cursor: pointer;
}
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  max-width: 100%;
  background-color: #666;
}
@media only screen and (min-width: 960px)  {
  .navbar {
    justify-content: center;
    font-size: 15px;
  }
}
.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 5%;
  max-width: 100%;
  background-color: #666;
  font-size: 0.8em;
}
#log-in a {
  color: #6cad2e;
}
#log-in a:hover {
  color: white;
}
#footer-log-out:hover {
  color: #6cad2e;
  cursor: pointer;
}
.nav-logo-image {
  width: 25%;
  height: 25%;
  margin-right: 2vw;
}
@media only screen and (min-width: 960px)  {
  .nav-logo-image {
    width: 10%;
    height: 10%;
  }
}
a {
  font-size: 1.1em;
  color: white;
  text-decoration: none;
}
.page-title {
  font-size: 1.5em;
  color: #6cad2e;
}
li {
  display: flex;
  justify-content: center;
}
.res-list {
  display: flex;
  justify-content: space-between;
}
