// Colors
@primaryColor: #6cad2e;
@secondaryColor: #444e5d;
@tertiaryColor: #4e5765;
@red: #b03060;
@orange: #fe9a76;
@yellow: #ffd700;
@olive: #32cd32;
@green: #016936;
@teal: #008080;
@blue: #0e6eb8;
@violet: #ee82ee;
@purple: #b413ec;
@pink: #ff1493;
@brown: #a52a2a;
@grey: #a0a0a0;
@black: #000000;
@white: white;

// Font
@roboto: 'Roboto', sans-serif;
@fontSizeXL: 1.7em;
// @fontSizeXL: 1.6em;
@fontSizeL: 1.5em;
@fontSizeM: 1.3em;
@fontSizeS: 1.1em;
@fontSizeXS: 0.9em;
// @fontSizeXXS: 0.80em;
// @fontSizeXXXS: 0.7em;
// @fontSizeXXXXS: 0.55em;

// Margins
@marginSizeL: 0.85em;
@marginSizeM: 0.7em;
@marginSizeS: 0.55em;

// Positioning
@relative: relative;
@center: center;
@marginHorCenter: 0 auto;

// General
@half: 50%;
@nav-logo-size-ratio: 25%;
// form padding in search exercise padding
@padding: 10%;

// Mixins

// Mixin in .less to be called in class .navbarLogoSize
.navbarLogoSize {
  width: @nav-logo-size-ratio;
  height: @nav-logo-size-ratio;
}
// Mixin in less. for formatting the page title (green)
.pageTitle {
  font-size: @fontSizeL;
  color: @primaryColor;
}
// Mixin in less. for formatting the anchor that sends user to other pages
.anchorStyle {
  font-size: @fontSizeS;
  color: @white;
  text-decoration: none;
}

body {
  background-color: @secondaryColor;
  color: @white;
  text-align: @center;
  font-family: @roboto;
  position: @relative;
}

h1 {
  font-size: @fontSizeXL;
}

h2 {
  font-size: @fontSizeXL;
}

h3 {
  font-size: @fontSizeL;
}

h4 {
  font-size: @fontSizeM;
}

h5 {
  font-size: @fontSizeS;
}

h1,
h2 {
  margin-top: @marginSizeL;
  margin-bottom: @marginSizeL;
}

h3,
h4 {
  margin-top: @marginSizeM;
  margin-bottom: @marginSizeM;
}

h5,
h6,
p {
  margin-top: @marginSizeS;
  margin-bottom: @marginSizeS;
}

.header {
  color: @white;
}

.break-line {
  background-color: @primaryColor;
  height: 1px;
  width: @half;
}

.email-signin-message {
  font-size: 0.8em;
  margin: 14px 0;
}

.logo-image {
  width: @half;
  margin: 10px 0;
}

.break-line,
main {
  margin: @marginHorCenter;
}

.center-container {
  margin-top: 50px;
  width: 90%;
}

.form-container {
  background: @tertiaryColor;
  border-radius: 20px;
  padding: @padding;
}

.form-container h4 {
  padding-top: @fontSizeXXXS;
}

.form-container p {
  padding-bottom: @fontSizeXXXS;
}

.form-control {
  width: 75%;
  margin: 5px 0;
  height: 25px;
}

button {
  margin: 5px 0;
  border-radius: 10px;
  padding: 2.5px 15px;
}

.primary {
  background-color: @primaryColor;
}

.exercise_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.exercise_name {
  display: flex;
  flex-direction: center;
  a {
    .anchorStyle();
  }
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  padding-top: 3%;
  background-color: @tertiaryColor;
}

.nav-logo-image {
  .navbarLogoSize();
}

.page-title {
  .pageTitle();
}
