// Colors
@primaryColor: #6cad2e;
@secondaryColor: #444;
@tertiaryColor: #66666666;
@red: #b03060;
@orange: #fe9a76;
@yellow: #ffd700;
@olive: #32cd32;
@green: #016936;
@teal: #008080;
@blue: #0e6eb8;
@violet: #ee82ee;
@purple: #b413ec;
@pink: #ff1493;
@brown: #a52a2a;
@grey: #a0a0a0;
@black: #000000;
@white: white;

// Font
@roboto: 'Roboto', sans-serif;
@Fondamento: 'Fondamento';
@Notable: 'Notable';
@Anton: 'Anton';
@FjallaOne: 'Fjalla One';
@poppins: 'Poppins', sans-serif;
@fontSizeXL: 1.7em;
@fontSizeL: 1.5em;
@fontSizeM: 1.3em;
@fontSizeS: 1.1em;
@fontSizeXS: 0.9em;

// Margins
@marginSizeL: 0.85em;
@marginSizeM: 0.7em;
@marginSizeS: 0.55em;

// Positioning
@relative: relative;
@center: center;
@marginHorCenter: 0 auto;

// General
@half: 50%;
@padding: 10%;

// Media query different display sizes
@desktop: ~'only screen and (min-width: 960px) ';
// and (max-width: 1199px)
@tablet: ~'only screen and (min-width: 720px) and (max-width: 959px)';

// Mixins

// Mixin for input color
.inputStyle {
  background-color: @white;
  color: @black;
}

//Mixin navbar
.nav-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  max-width: 100%;
  background-color: @tertiaryColor;
  @media @desktop {
    justify-content: center;
    font-size: 15px;
  }
}

//Mixin footer
.footer-mixin {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 5%;
  max-width: 100%;
  background-color: @tertiaryColor;
  font-size: 0.8em;
}

// Mixin in less. for formatting the page title (green)
.pageTitle {
  font-size: @fontSizeL;
  color: @primaryColor;
}

// Mixin in less. for formatting the anchor that sends user to other pages
.anchorStyle {
  font-size: @fontSizeS;
  color: @white;
  text-decoration: none;
}

// Mixin for main gray centre div
.center-div {
  background: @tertiaryColor;
  border-radius: 20px;
  padding: @padding;
}

h1 {
  font-size: @fontSizeXL;
}

h2 {
  font-size: @fontSizeXL;
}

h3 {
  font-size: @fontSizeL;
}

h4 {
  font-size: @fontSizeM;
}

h5 {
  font-size: @fontSizeS;
}

h1,
h2 {
  margin-top: @marginSizeL;
  margin-bottom: @marginSizeL;
}

h3,
h4 {
  margin-top: @marginSizeM;
  margin-bottom: @marginSizeM;
}

h5,
h6,
p {
  margin-top: @marginSizeS;
  margin-bottom: @marginSizeS;
}

.header {
  color: @white;
}

.break-line {
  background-color: @primaryColor;
  height: 1px;
  width: @half;
}

body {
  text-align: -webkit-center;
  background-color: @secondaryColor;
  color: @white;
  font-family: @roboto;
  background-image: url(../../img/texture.svg);
  background-position: center;
  background-repeat: none;
  height: 100vh;
}

#login-form,
#signup-form {
  margin-top: 30%;
  margin: 0 auto;
}

.logo-image {
  width: @half;
}

#container-margin {
  .center-div();
  margin-top: 5%;
}

#container-margin-nav {
  .center-div();
  margin-top: 35%;
}

.container-mg {
  margin-bottom: 5%;
}

.title {
  text-shadow: 3px 3px 5px #222;
  font-family: @poppins;
  @media @desktop {
    font-size: 3em;
  }
}

// .logo-image,
#container-margin,
#container-margin-nav,
.navbar {
  box-shadow: 0px 0 20px 7px #222;
}

#email-input,
#password-input,
#forename-input,
#surname-input,
#exercise-title-input,
#muscle-group-input,
#equipment-input {
  .inputStyle();
}

button {
  margin: 5px 0;
  border-radius: 10px;
  padding: 2.5px 15px;
  background-color: @primaryColor;
}

.fa-star:hover {
  color: @primaryColor;
  cursor: pointer;
}

.navbar {
  .nav-bar();
}

.footer {
  .footer-mixin();
}

#log-in a {
  color: @primaryColor;
}

#log-in a:hover {
  color: @white;
}

#footer-log-out:hover {
  color: @primaryColor;
  cursor: pointer;
}

.nav-logo-image {
  width: 6rem;
  margin: 1vw 2vw;
}

a {
  .anchorStyle();
}

.page-title {
  .pageTitle();
}

li {
  display: flex;
  justify-content: center;
}

.res-list {
  display: flex;
  justify-content: space-between;
}
