body {
  text-align: -webkit-center;
}
#login-form,
#signup-form {
  margin-top: 30%;
}
footer {
  border-top: 1px solid var(--background);
  padding-top: 10px;
  font-size: 0.8em;
  color: var(--text-muted);
}
