doctype html
html(lang="en")
    head
        include headOne
        title Fitness Buddy | Members
    body
        h1 Fitness buddy
        img.logo-image(src="img/dumbbell.png" alt="fitness-buddy-logo")
        #container-margin
            a.navbar-brand(href="/logout") Logout
            h2 Welcome
              span.member-name
        br
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(type="text/javascript" src="js/members.js")
